---
layout: splash
author_profile: false
title: "Wayfinder Open Source Project"
header:
  overlay_color: "#000"
  overlay_image: wayfinder-city-w1280.jpg
  cta_label: "Source code"
  cta_url: "https://github.com/wayfinder/"
excerpt: "The Wayfinder Open Source Project has open source versions of the former Wayfinder/Vodafone LBS platform including both backend and clients."
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
---

{% include base_path %}

<h3 class="archive__subtitle">Recent Posts</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
